nav{
    display: flex;
    justify-content: center;
}

nav .item{
    padding: 8px 16px;
    background-color: crimson;
    color: white;
}

main{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    gap: 16px;
}

main .box{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}

main .box h1{
    font-weight: 900;
    font-size: 2rem;
    color: rgb(44, 44, 44);
}

main .box p{
    align-self: flex-end;
}