nav{
    display: flex;
    justify-content: flex-end;
}

nav .item{
    padding: 8px 16px;
    background-color: crimson;
    color: white;
}

header .hero{
    width: 100%;
    height: 400px;
    background-image: url("../images/games.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.hero .button{
    color: white;
    background-color: crimson;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgb(170, 170, 170);
}

main{
    display: flex;
    justify-content: center;
    height: 320px;
    align-items: center;
    gap: 8px;
}

main .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid rgb(200, 200, 200);
}

.card h1{
    font-weight: 600;
}

.card .button{
    color: white;
    background-color: crimson;
    padding: 8px 16px;
    border-radius: 8px;
}

main .box{
    width: 30%;
    background-color: darkgrey;
    height: 200px;
}

footer{
    height: 400px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 60px;
}

footer #map{
    flex-grow: 1;
    height: auto;
}

footer p{
    color: white;
    width: 30%;
    align-self: flex-start;
    padding: 0 16px;
}

.disclaimer{
    background-color: black;
    color: white;
    padding: 16px;
}
